{% load extra_tags %}
{% load _nav_tags %}
{% with url_name=request.resolver_match.url_name %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="{% url "web:index" %}">Teaching pools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if url_name == "index" %}active{% endif %}">
        <a class="nav-link" href="{% url "web:index" %}">Home{% if url_name == "index" %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url "web:courses_full_list" year=CURRENT_YEAR %}">All courses ({{ CURRENT_YEAR }})</a>
          {% if request.user|has_group:"teachers" %}
          <a class="dropdown-item" href="{% url "web:courses_list_year_teacher" year=CURRENT_YEAR %}">My courses</a>
          <a class="dropdown-item" href="{% url "web:applications_for_my_courses" %}">Applications for my courses</a>

          {% endif %}
      </li>

      {% if request.user|is_staff_or_teacher %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url "web:add_phd" %}">Add student</a>
        <a class="dropdown-item" href="{% url "web:add_assignment" %}">Enroll student</a>
        {% if request.user|is_staff %}
          <a class="dropdown-item" href="{% url "web:phds_profiles" %}">All profiles</a>
          <a class="dropdown-item" href="{% url "web:applications_list" %}">All applications</a>
          <a class="dropdown-item" href="{% url "web:phds_report" CURRENT_YEAR CURRENT_TERM %}">Applications status per PhD</a>
        {% endif %}
        {% comment %} <a class="dropdown-item" href="{% url "web:phds_with_multiple_hirings_report" %}">Multiple acceptance</a> {% endcomment %}
      </li>
      {% endif %}

      {% if request.user|is_phd %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if url_name == "get_user_time_reports" %}active{% endif %}">
          <a class="nav-link" href="{% url "web:get_user_time_reports" %}">Time reporting{% if url_name == "get_user_time_reports" %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
      </ul>
      {% endif %}

      {% if request.user|is_staff or request.user|is_teacher %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Requests
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user|is_staff %}
          <a class="dropdown-item" href="{% url "web:get_TAs_requests_to_validate" %}">Teaching assistants (to be validated)</a>
          <a class="dropdown-item" href="{% url "web:get_courses_without_numberOfTARequests" %}">Courses without TAs requests</a>
          {% endif %}
          {% if request.user|has_group:"teachers" %}
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher" %}">My requests (all)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher_status" status="Pending" %}">My requests (pending)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher_status" status="Approved" %}">My requests (approved)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher_status" status="Declined" %}">My requests (declined)</a>
          {% endif %}
          {% if request.user|is_staff %}
          <a class="dropdown-item" href="{% url "web:courses_report" year=CURRENT_YEAR term=CURRENT_TERM %}">Status of all courses</a>
          {% endif %}
      </li>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if url_name == "reports_entry_page" %}active{% endif %}">
          <a class="nav-link" href="{% url "web:reports_entry_page" %}">Time reporting{% if url_name == "reports_entry_page" %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
      </ul>
      {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
      {% if request.user|is_phd %}
          <div class="dropdown show">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ request.user|get_badge }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url "web:update_my_profile" %}">Profile</a>
              <a class="dropdown-item" href="{% url "web:my_applications" %}">Applications</a>
            </div>
          </div>
      {% elif request.user|is_staff %}
        <div class="dropdown show">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ request.user|get_badge }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url "web:edit_config" %}">Configuration</a>
              <a class="dropdown-item" href="{% url "web:batch_upload_phds" %}">Batch add phds</a>
              <a class="dropdown-item" href="{% url "web:get_mail_campaigns" %}">Mailer</a>
            </div>
      {% else %}
        {{ request.user|get_badge }}
      {% endif %}
    {% endif %}
  </div>
  <div style="padding-left:5px;">
    <a href="https://inside.epfl.ch/sti-ta/sti-teaching-assistants-welcome/" class="btn btn-info" role="button" target="_blank"><i class="fas fa-book-open"></i>&nbsp; FAQ</a>
    <a href="mailto:TA_STI@epfl.ch" class="btn btn-danger" role="button"><i class="fas fa-medkit"></i>&nbsp;Help</a>
  </div>
</nav>
{% endwith %}
