{% load extra_tags %}
{% with url_name=request.resolver_match.url_name %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="{% url "web:index" %}">Teaching pools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if url_name == "index" %}active{% endif %}">
        <a class="nav-link" href="{% url "web:index" %}">Home{% if url_name == "index" %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% comment %}
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      {% endcomment %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url "web:courses_full_list" year="2019-2020" %}">All courses (2019-2020)</a>
          <a class="dropdown-item" href="{% url "web:courses_list_year_teacher" year="2019-2020" %}">My courses</a>
          {% comment %}
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        {% endcomment %}
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Requests
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url "web:get_TAs_requests_to_validate" %}">Teaching assistants (to be validated)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher" %}">My requests (all)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher_status" status="Pending" %}">My requests (pending)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher_status" status="Approved" %}">My requests (approved)</a>
          <a class="dropdown-item" href="{% url "web:requests_for_tas_teacher_status" status="Rejected" %}">My requests (rejected)</a>

      </li>
      {% comment %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      {% endcomment %}
    </ul>
    <div class="my-2 my-lg-0">
    {% if request.user|is_superuser %}
      <i class="fas fa-user-ninja fa-lg"></i>
    {% elif request.user|is_staff %}
      <i class="fas fa-user-shield fa-lg"></i>
    {% elif request.user|is_teacher %}
      <i class="fas fa-user-tie fa-lg"></i>
    {% elif request.user|is_phd %}
      <i class="fas fa-user-graduate fa-lg"></i>
    {% else %}
      <i class="fas fa-user fa-lg"></i>
    {% endif %}&nbsp;{{ request.user.first_name }} {{ request.user.last_name }}
    </div>
    {% comment %} <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> {% endcomment %}
  </div>
</nav>

{% endwith %}
