{% extends "web/base.html" %}
{% load bootstrap4 %}
{% load course_tags %}

{% block maincontent %}
<div id="cards-list">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control search" placeholder="Search by course code, subject, teacher or language">
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-columns list">
        {% for course in courses %}
          {% if course.approvedNumberOfTAs > course.applications_accepted or not user_is_phd %}
            <div class="card">
              <div class="card-header">
                <a class="subject" href="{{ course.get_coursebook_url }}" target="_blank">{{ course.subject }}</a> <span class="code">({{ course.code }}</span>){% get_badge course request.user courses_applied_to CURRENT_YEAR %}
              </div>
              <div class="card-body">
                <p>Term: {{ course.term }}</p>
                <p>Teacher(s): <span class="teachers">{{ course|format_teachers }}</span></p>
                <p>Form(s): {{ course|format_forms }}</p>
                <p>Language(s): <span class="languages">{{ course|format_languages }}</span></p>
                {# This is not nice but prevents from making hundred of DB queries #}
                {% if APPLICATIONS_ARE_OPEN %}
                  {% if user_is_phd and course.pk not in courses_applied_to %}
                    {% get_apply_button course request.user %}
                  {% endif %}
                {% else %}
                  <span data-toggle="tooltip" data-placement="top" title="Applications are not opened at the moment" class="btn btn-outline-secondary">Apply</span>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock maincontent %}
{% block scripts%}
<script>
$(document).ready(function(){
  $('#cards-list').find('.search').val('');
})

var options = {
  valueNames: [
      "code",
      "subject",
      "teachers",
      "languages"
  ]
};
var coursesList = new List('cards-list', options);
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{%endblock scripts%}
