{% extends "web/base.html" %}
{% load bootstrap4 %}

{% block maincontent %}

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Term</th>
      <th>Subject</th>
      <th>Teachers</th>
      <th>Types</th>
      <th>Lang.</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
      <tr>
        <td>{{ course.code }}</td>
        <td>{{ course.term }}</td>
        <td>{{ course.subject }}</td>
        <td>
          <ul>
            {% for teacher in course.teachers.all %}
            <li>{{ teacher.last_name }}, {{ teacher.first_name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% if course.has_course %}<li>Course</li>{% endif %}
            {% if course.has_exercises %}<li>Exercises</li>{% endif %}
            {% if course.has_project %}<li>Project</li>{% endif %}
            {% if course.has_practical_work %}<li>Practical work</li>{% endif %}
          </ul>
        </td>
        <td>{% if course.taughtInFrench %}F{% endif %}{% if course.taughtInEnglish %}E{% endif %}{% if course.taughtInGerman %}G{% endif %} </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock maincontent %}
