{% extends "web/base.html" %}
{% load bootstrap4 %}

{% block maincontent %}
<p>PhD: {{ person.first_name }} {{ person.last_name }}</p>
<p>Course: {{ course.subject }} ({{ course.code }})</p>
<form action="{% url "web:review_application" application_id=application_id  %}" method="post" class="form">
    {% csrf_token %}
        {% bootstrap_form form=form %}
        {% buttons %}
        {% bootstrap_button "Approve" button_type="submit" button_class="btn-success btn-block" name="Approve" %}
        {% bootstrap_button "Reject" button_type="submit" button_class="btn-danger btn-block" name="Reject" %}
        <a class="btn btn-info btn-block" href="{% url 'web:applications_for_my_courses'%}">Back to application</a>
        {% endbuttons %}
</form>
{% endblock maincontent %}
