{% extends "web/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block maincontent %}
<div id="applications"></div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Withdraw application
            </div>
            <div class="modal-body">
                Are you sure you want to withdraw your application to this course?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No (go back)</button>
                <a class="btn btn-danger btn-ok">Yes (withdraw)</a>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}
{% block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>
<script>
    const STATIC_URL = '{{ STATIC_URL }}';
</script>
<script src="{% static 'web/js/applications/my_applications.js' %}"></script>
{%endblock scripts%}
