{% extends "web/base.html" %}
{% load bootstrap4 %}
{% load mathfilters %}

{% block maincontent %}

<table class="table">
  <thead>
    <tr>
      <th colspan="7" class="align-top text-left">Course</th>
      <th colspan="7" class="align-top text-left">Teaching assistants</th>
      <th rowspan="2" colspan="2" class="align-top text-center">Actions</th>
    </tr>
    <tr>
      <th class="align-top">Code</th>
      <th class="align-top">Term</th>
      <th class="align-top">Subject</th>
      <th class="align-top">Teachers</th>
      <th class="align-top">Types</th>
      <th class="align-top">Lang.</th>
      <th class="align-top text-right">students (prev. year)</th>
      <th class="align-top text-right">theory</th>
      <th class="align-top text-right">requested</th>
      <th class="align-top text-right">approved (prev. year)</th>
      <th class="align-top text-right">approved</th>
      <th class="align-top text-right">hired (prev. year)</th>
      <th class="align-top text-right">hired</th>
      <th class="align-top text-right">to be filled</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
      <tr>
        <td>{{ course.code }}</td>
        <td>{{ course.term }}</td>
        <td>{{ course.subject }}</td>
        <td>
          <ul>
            {% for teacher in course.teachers.all %}
            <li>{{ teacher.last_name }}, {{ teacher.first_name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% if course.has_course %}<li>Course</li>{% endif %}
            {% if course.has_exercises %}<li>Exercises</li>{% endif %}
            {% if course.has_project %}<li>Project</li>{% endif %}
            {% if course.has_practical_work %}<li>Practical work</li>{% endif %}
          </ul>
        </td>
        <td>{% if course.taughtInFrench %}F{% endif %}{% if course.taughtInEnglish %}E{% endif %}{% if course.taughtInGerman %}G{% endif %} </td>
        <td class="text-right">{{ course.numberOfStudents|default_if_none:"&nbsp;" }}</td>
        <td class="text-right">{{ course.calculatedNumberOfTAs|default_if_none:"&nbsp;" }}</td>
        <td class="text-right">{{ course.requestedNumberOfTAs|default_if_none:"&nbsp;" }}</td>
        <td class="text-right">{{course.prev_year_approved_TAs|default_if_none:"&nbsp;"}}</td>
        <td class="text-right">{{ course.approvedNumberOfTAs|default_if_none:"&nbsp;" }}</td>
        <td class="text-right">{{course.prev_year_accepted_applications|default_if_none:"&nbsp;"}}</td>
        <td class="text-right">{{ course.applications_accepted|default_if_none:"&nbsp;" }}</td>
        <td class="text-right">{{ course.approvedNumberOfTAs|sub:course.applications_accepted|default_if_none:"&nbsp;" }}</td>
        <td>
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#AcceptNumberOfTAsConfirmationModal{{course.id}}" data-toggle="tooltip" title="Accept theoretical number of Teaching Assistants"><i class="fas fa-user-check"></i></button>
        </td>
        <td><a class="btn btn-outline-primary btn-sm" href="{% url "web:request_for_TA" course_id=course.id %}" data-toggle="tooltip" title="Request for a different number of Teaching Assistants"><i class="fas fa-user-edit"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modals -->
{% for course in courses %}
  <div class="modal fade" id="AcceptNumberOfTAsConfirmationModal{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="AcceptNumberOfTAsConfirmationModalLongTitle{{ course.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AcceptNumberOfTAsConfirmationModalLongTitle{{ course.id }}">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to accept the the number of TAs that was calculated for your "{{ course.subject }}" course ({{ course.calculatedNumberOfTAs|default_if_none:"0" }} TA(s))?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
          <a class="btn btn-success btn-sm" href="{% url "web:accept_theoretical_number_of_tas" course_id=course.id %}">Yes</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock maincontent %}
{% block scriptsblock %}
<script type="text/javascript">
$(documents).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({
    "delay": 0,
    "placement": "top"
  });
});
</scripts>
{% endblock scriptsblock %}
