{% extends "web/base.html" %}
{% load bootstrap4 %}

{% block maincontent %}
<form action="{% url "web:update_my_profile" %}" method="post" class="form">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h6>Availability for {{ year }}<h6>
        </div>
        <div class="card-body">
            {% bootstrap_form form=availability_form %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h6>Languages<h6>
        </div>
        <div class="card-body">
            {% bootstrap_form form=languages_form layout='inline'%}
        </div>
    </div>
    <div>
        {% buttons %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        {% bootstrap_button "Clear" button_type="reset" %}
        {% endbuttons %}
    </div>
</form>
{% endblock maincontent %}
