[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"

[packages]
python-dotenv = "*"
django-bootstrap4 = "*"
django-icons = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
ldap3 = "*"
numpy = "*"
pandas = "*"
xlrd = "*"
django-extensions = "*"
xlwt = "*"
django-mathfilters = "*"
python-memcached = "*"
postgres = "*"
psycopg2-binary = "*"
gunicorn = "*"
Django = "*"
sentry-sdk = "*"
django-crispy-forms = "*"
openpyxl = "*"
importlib-metadata = "*"
html2text = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
