django
python-dotenv
django-bootstrap4
django-icons
django-debug-toolbar
djangorestframework
ldap3
numpy
pandas
xlrd
django-extensions

# staging environment
python-memcached
postgres
psycopg2--binary
gunicorn
