{% extends "web/base.html" %}
{% load bootstrap4 %}
{% load extra_tags %}
{% load static %}

{% block maincontent %}
<h1>Email campaign details</h1>
<table class="table">
    <thead>
        <tr>
            <th>To</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Error</th>
            <th>Sent</th>
        </tr>
    </thead>
    <tbody>
    {% for email in emails %}
        <tr>
            <td>{{ email.to }}</td>
            <td>{{ email.subject }}</td>
            <td>{{ email.status }}</td>
            <td>{{ email.error_message|default_if_none:"&nbsp;" }}</td>
            <td>{{ email.sent_at|default_if_none:"&nbsp;" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'web:get_mail_campaigns' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
{% endblock maincontent %}

{% block scripts %}
{% endblock scripts %}
