<html>
<head></head>
<body>
{% if ENVIRONMENT_TYPE == "test" %}
<p><strong>This message was sent from a test system. Please do not consider it's content as <i>real or for production use</i>.</strong></p>
{% endif %}
<p>Dear {{ request.requester.first_name }},</p>

<p>You have requested to get {{ request.requestedNumberOfTAs }} teaching assistants for your '{{ request.course.subject }}' course.</p>

<p>We will review this request as soon as possible.</p>

<p>Best Regards,</p>

<p>The teaching pool administrators</p>
</body>
</html>
