<html>
    <head>
    </head>
    <body>
        <p>Dear teacher of the {{ course.subject }} ({{ course.code }}) course,</p>
        <p></p>
        <p>A new application as Teaching Assistant has sent by {{ application.applicant.first_name }} {{ application.applicant.last_name }}.</p>
        <p></p>
        <p>Could you please review it at <a href="TODO:">#TODO: url</a> ?</p>
        <p></p>
        <p>Thanks in advance,</p>
        <p></p>
        <p>The teaching pool system.</p>
    </body>
</html>
