<html>

<head></head>

<body>
    {% if ENVIRONMENT_TYPE == "test" %}
    <p><strong>This message was sent from a test system. Please do not consider it's content as <i>real or for production use</i>.</strong></p>
    {% endif %}
    <p>Dear {{ application.applicant.first_name }},</p>
    <p></p>
    <p>Your application for the {{ application.role }} position for the {{ application.course.subject }} ({{ application.course.code }}) has been processed.</p>
    <p></p>
    <p>It's current status is: {% if application.status == 'Rejected' %}declined{% else %}{{ application.status }}{% endif %}</p>
    <p></p>
    {% if application.decisionReason %}
    <p>The reason for this decision is: {{ application.decisionReason }}</p>
    <p></p>
    {% endif %}
    <p>Best Regards,</p>
    <p></p>
    <p>The teaching pool system.</p>
</body>

</html>
